/* OLA MUUNDO..zz */
body, 
ul, 
li ,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
p{
    color: rgb(0, 0, 0);
}

label{
    color: rgb(0, 0, 0);
    display: block;
    float: left;
}
label,input{
    width: 200px;
}
h1{
    text-align:center;
    margin-top: 0; 
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
    color: rgb(0, 0, 0);
}
h4{
    color: rgb(0, 0, 0);
}
main{
    margin-top: 100px;
}
img{
    max-width: 100%;
    display: block;
}
input{
    width: 200px;
    height: 20px;
    background-color: #f2f2f2;
    padding: 3px;
    border: 1px solid #ccc;
    color: #333;
}
fieldset{
    width: 600px;
    height: 300px;
}
/* header */
.cabecalho{
  background-color: rgb(146, 232, 244);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.cabecalho.scroll {
    background: #fff;
}
.cabecalho.scroll {
    box-shadow: 0 2px 16px 0 #00000033;
}
.cabecalho {
    width: 100%;
    padding: 0;
    height: 3.75rem;
    z-index: 1000;
    position: fixed;
}
.logopri{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px; 
}
/*  */
.logo{
    height: auto;
    width: auto;
    max-width: 25px;
    max-height: 25px;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.lista{
display: flex;
  
}
.lista li{
    margin-left: 10px;

}
.lista li a{
    display: block;
    padding: 10px;
}


/* Footer */
.rodape{
    background: rgb(146, 232, 244);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.logosapp{
    display: flex;
}
/* ScrollBar */
body::-webkit-scrollbar 
{
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track
   {
    background: rgb(146, 232, 244);       
  }
  
  body::-webkit-scrollbar-thumb 
  {
    background-color: azure;   
    border-radius: 20px;       
    border: 3px solid rgb(146, 232, 244);  
  }

/* Atendimentos */
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 1px solid red;
}
.mySlides{
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.ballsSelect {
    text-align: center;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}