/* OLA MUUNDO..zz */
body, 
ul, 
li ,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    color: rgb(0, 0, 0);
}

label{
    color: rgb(0, 0, 0);
    display: block;
    float: left;
}
label,input{
    width: 200px;
}
h1{
    text-align:center;
    margin-top: 0; 
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
    color: rgb(0, 0, 0);
}
h4{
    color: rgb(0, 0, 0);
}
main{
    margin-top: 100px;
}
img{
    max-width: 100%;
    display: block;
}
input{
    width: 200px;
    height: 20px;
    background-color: #f2f2f2;
    padding: 3px;
    border: 1px solid #ccc;
    color: #333;
}
fieldset{
    width: 600px;
    height: 300px;
}
/* header */


.cabecalho.scroll {
    background: #fff;
}
.cabecalho.scroll {
    box-shadow: 0 2px 16px 0 #00000033;
}
.cabecalho {
    width: 100%;
    padding: 0;
    height: 3.75rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px 0 #00000033;
    background-color: rgb(146, 232, 244);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px;
}

.btncad{
    border:1px solid #ae70ec;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    font-weight:lighter;
    font-size:20px; 
    text-decoration:none;
    margin-top: 5px;
    color: #333;
    transition: 0.4s all;
}
.btncad:hover {
background-color: #ae70ec ;
color: white;
}
.btnhead{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    flex: 1;
    transition: 0.4s all;
}
.btnhead:hover{
    transform:scale(1.1);
    
}
.logopri{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px; 
    flex: 1;
}
.titulo{
    font-size: 42px;
    color: #333;
    text-decoration:solid;
    transition: 0.4s all;
}
.titulo:hover{
    transform:scale(1.1);
}
.logo{
    height: auto;
    width: auto;
    max-width: 25px;
    max-height: 25px;
}
.logtitulo{
    display: flex;
    text-decoration: none;
    margin: 5px;
    margin-left: 20px;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.lista{
display: flex;
flex: 1;
  margin-right: 30px;
}
.lista li{
    margin-left: 10px;

}
.lista li a{
    display: block;
    padding: 10px;
}

.navlist{
    display: flex;
    align-items: center;
    height: 100%;
}
/*  */
/* body */
.container{
    margin: 0;
    padding: 0;
}


/* Footer */
.rodape{
    background: rgb(146, 232, 244);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.logosapp{
    display: flex;
}
/* ScrollBar */
body::-webkit-scrollbar 
{
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track
   {
    background: rgb(146, 232, 244);       
  }
  
  body::-webkit-scrollbar-thumb 
  {
    background-color: azure;   
    border-radius: 20px;       
    border: 3px solid rgb(146, 232, 244);  
  }
/* Cursos */
.container-curso{
    max-width: 100%;
    position: relative;
    margin: auto;
    border: 1px solid  #f5cbeb;
    padding: 0;
    align-items: center;
    
}
.container-curso-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    padding: 10px;

}
.curso-1{
    flex: 1;
}
.slides-curso{  
    padding: 0;
    margin: 0;
}
.slideshow-cursos{
    width: 100%;
    position: relative;
    margin: 0;
}
.main-curso{
    margin-top: 64px;
    padding: 0;
    background-color: #f7d4ee;
}
/* Atendimentos */
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 1px solid red;
}
.mySlides{
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.ballsSelect {
    text-align: center;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}